<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav>
  <a class="button" routerLink="/home"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Home
  </a>
  <a class="button" routerLink="/totals"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Totals
  </a>
</nav>


<router-outlet/>
